*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --primary-color: #ccc;
    --text-color: #576366;
    --g-white: #fff;
    --button-color: #0083Bf; 
}
.dark{
    --primary-color: #3c4750;
    --text-color: #edeff0;
    --g-white:#fff;
    --button-color:  #bc658d; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    position: absolute;
    right: 25px;
    top: 15px;
}
.check{
    opacity: 0;
    position: absolute;
}
.label{
    position: relative;
    background-color: #3c4750;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 20px;
    width: 40px;
    align-items: center;
    transform: scale(1.5);
    border-radius: 50px;
}
.ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 2px;
    height: 17px;
    width: 17px;
    transform: translateX(0px);
    transition: transform 0.2s linear;

}
.check:checked + .label{
   background-color: #fff; 
}
.check:checked + .label .ball{
    transform: translateX(18px);
    background-color: #00838f;
}
.container{
    width: 320px;
    padding: 20px 0;
    position: relative;
    border-radius: 10px;
    background-color: var(--primary-color); 
}
 .container img{
    width: 320px;
    object-fit: cover;
    margin-top: 30px;
}
.details{
    padding: 20px;
}
.details h3{
    font-size: 22px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 32px;
}
.details button{
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: 800;
    border: 0;
    font-size: 18px;
    background-color: var(--button-color);
     color: var(--g-white);
     border-radius: 5px;

} 
  
 @media screen and (min-width: 768px) {
    .container{
        width: 900px;
        padding: 0;
        display: flex;
    }
    .container img{
        margin-top: 0;
        width: 320px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .details{
        margin-top: 50px;
        
    }

}  